.testimonials {
    padding: 0 $mobile-section-padding-left-right;
    margin-bottom: clamp(10.72rem, 40vw, 11.78rem);

    &__testimonial {
        padding: 6vw;
        background-color: $dark-blue-testimonials-bg;
        width: 90%;
        margin: 0 auto;
        border-radius: 5px;
        margin-bottom: clamp(2.14rem, 8vw, 3.81rem);

        &>p {
            font-size: clamp(0.75rem, 2.8vw, 1.142rem);
            line-height: 1.8em;
            margin-bottom: 1.399em;
        }

        &>div {
            display: flex;
            align-items: center;
        }

        &>div img {
            border-radius: 100%;
            width: clamp(1.87rem, 7vw, 3.33rem);
        }

        &>div .testimonials__identity {
            margin-left: 2.5vw;
        }

        &>div .testimonials__identity>p:first-child {
            font-size: clamp(0.75rem, 2.8vw, 1.33rem);
            font-weight: 700;
        }

        &>div .testimonials__identity>p:last-child {
            font-size: clamp(0.615rem, 2.3vw, 1.095rem);
        }
    }

    &__testimonial:first-child {
        position: relative;
    }

    &__testimonial:first-child::before {
        content: url(../images/bg-quotes.png);
        position: absolute;
        top: -9vw;
        left: -3vw;
        transform: scale(.4);
    }
}

@media screen and (min-width: $desktop-up) {
    .testimonials {
        padding: 0 0;
        margin: 0 auto clamp(10.72rem, 40vw, 11.78rem) auto;
        width: 85%;
        max-width: 1280px;
        display: flex;
        justify-content: space-between;

        &__testimonial {
            padding: clamp(2.057rem, 2vw, 3rem);
            width: 31.2%;
            margin: 0 0;
            margin-bottom: clamp(2.14rem, 8vw, 3.81rem);

            &>p {
                font-size: $desktop-text-size;
                line-height: 1.8em;
                margin-bottom: 1.399em;
            }

            &>div {
                display: flex;
                align-items: center;
            }

            &>div img {
                border-radius: 100%;
                width: clamp(1.696rem, 1.65vw, 2.5rem);
            }

            &>div .testimonials__identity {
                margin-left: clamp(.514rem, .5vw, 1rem);
            }

            &>div .testimonials__identity>p:first-child {
                font-size: clamp(.667rem, .65vw, 1.28rem);
                font-weight: 700;
            }

            &>div .testimonials__identity>p:last-child {
                font-size: clamp(.492rem, .48vw, .954rem);
            }
        }

        &__testimonial:first-child {
            position: relative;
            z-index: 10;
        }

        &__testimonial:first-child::before { // HERE
            content: url(../images/bg-quotes.png);
            position: absolute;
            top: -2vw;
            left: -1vw;
            transform: scale(1);
            z-index: -1;
        }
    }
}